*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; //1rem = 10px, 62.5% of 16px = 10px
	//user-select: $primary;

	@media only screen and (max-width: $bp-largest) {
		font-size: 56.25%;
	}

	@media only screen and (max-width: $bp-medium) {
		font-size: 50%;
	}

	@media only screen and (max-width: $bp-small) {
		font-size: 40%;
	}
}

body {
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	line-height: 1.6;
}

.container {
	display: grid;
	grid-template-rows: repeat(4, max-content);
	grid-template-columns: repeat(4, 1fr);
}
a {
	text-decoration: none;
	color: inherit;
	&:hover {
		color: #43cfcf;
		transform: translateY(-3px);
		text-shadow: 0.5rem 1rem 2rem rgb(0 0 0 / 35%);
	}
}
