.partners {
    background-color: #F5F5F5;
    grid-column: 1/-1;
    padding: 5rem;
    position: relative;

    @media only screen and (max-width: $bp-medium) {
        padding: 2.5rem;
    }

    &__box {
        @media only screen and (max-width: $bp-medium) {
            width: 15rem;
            padding: 2rem;
        }

        padding: 10rem;
        box-shadow: 0 1rem 2.5rem rgba(rgb(69, 199, 202), .2);
        width: 40rem;
        text-align: center;
        margin-top: 2rem;
    }

    &__container {
        margin-top: 3.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        @media only screen and (max-width: $bp-medium) {
            margin-top: 0;
        }
    }

    &__add {
        height: 7rem;
        width: 7rem;
        position: absolute;
        top: 84%;
        left: 0;
    }

    &__img {

        @media only screen and (max-width: $bp-medium) {
            height: 100%;
            width: 60%;
        }

    }

    &__link {
        position: absolute;
        width: 14rem;
        color: transparent;
    }

    &__boat {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(2, min-content);
        top: 85%;
        left: .1%;

        @media only screen and (max-width: $bp-medium) {
            top: 4%;
        }

        &--img {
            width: 3rem;

            @media only screen and (max-width: $bp-medium) {
                width: 2rem;
            }
        }

    }
}

.link__box {
    transition: transform .4s;

    &:hover {
        transform: scale(1.15) skewY(2deg);
    }

    width: 100%;
}