.staff {
	overflow: hidden;
	background-color: #fff;
	grid-column: 1/-1;
	padding: 7rem 0;
	overflow: hidden;

	@media only screen and (max-width: $bp-medium) {
		padding: 0;
		margin-bottom: 3rem;
	}

	&__container {
		display: flex;
		justify-content: center;
		@media only screen and (min-width: 600px) {
			flex-wrap: wrap;
			justify-content: space-around;
			gap: 2rem;
		}
		@media only screen and (max-width: 600px) {
			height: 65rem;
		}
	}

	&__portrait {
		transform: translateX(2rem) translateY(1rem);
		background-color: #45a9d3;
		width: 28rem;
		height: 35rem;
	}

	&__box {
		@media only screen and (max-width: 600px) {
			position: absolute;
		}
		margin-top: 3rem;
		height: 60rem;
		width: 32rem;
		box-shadow: 0 1rem 2.5rem rgba(rgb(69, 199, 202), 0.2);
		transition: all 0.4s;
		border-radius: 1.5rem;
	}

	&__name {
		font-size: 2rem;
		margin-top: 3rem;
		text-align: center;
		color: #2d3232;
	}

	&__role {
		text-align: center;
		color: #677a8b;
		margin-top: 1rem;
	}

	&__text {
		text-align: center;
		margin-top: 3rem;
		font-size: 1.3rem;
		position: relative;
		font-weight: bold;

		&::before {
			content: '\201C';
			font-size: 2.5rem;
			position: absolute;
			top: -42%;
			left: 6%;
		}

		&::after {
			content: '\201D';
			font-size: 2.5rem;
			position: absolute;
			top: 102%;
			left: 89%;
		}

		span {
			font-size: 3rem;
		}
	}
}

.displacement {
	margin-bottom: 3rem;
}
