.reasons {
	grid-column: 1/-1;
	overflow: hidden;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	@media only screen and (max-width: 500px) {
		padding: 0 3rem;
	}
	&__container {
		width: 100%;
		padding-bottom: 15rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	&__box {
		&:not(:last-child) {
			margin-right: -10rem;
		}
		display: grid;
		grid-template-columns: 27rem max-content;
		align-items: center;
		@media only screen and (max-width: $bp-larger) {
			&:not(:last-child) {
				margin-right: 0;
			}
			&:last-child {
				margin-top: 3rem;
			}
		}
		@media only screen and (max-width: 500px) {
			padding: 1rem;
		}
	}
	&__icon {
		width: 75%;
		justify-self: center;
	}
	&__text {
		line-height: 3rem;
	}
}
