*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; //1rem = 10px, 62.5% of 16px = 10px
	//user-select: $primary;

	@media only screen and (max-width: $bp-largest) {
		font-size: 56.25%;
	}

	@media only screen and (max-width: $bp-medium) {
		font-size: 50%;
	}

	@media only screen and (max-width: $bp-small) {
		font-size: 40%;
	}
}

body {
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	line-height: 1.6;
}

.container {
	display: grid;
	grid-template-rows: max-content repeat(4, 100vh) max-content 100vh max-content repeat(2, 100vh);
	grid-template-columns: repeat(4, 1fr);
}
.green {
	background-color: #007382;
}
.heading-1 {
	font-size: 3.2rem;
	font-weight: 700;
	line-height: 4.5rem;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.ml {
	margin-left: 0;
	width: 24rem;
	text-align: center;
}
.heading-2 {
	font-size: 4rem;
	font-weight: 600;
	line-height: 4.9rem;
	letter-spacing: 0.0025em;
	padding-left: 8rem;
	padding-top: 8rem;
}
.padding-0 {
	padding: 0;
}
.no-pd-top {
	padding: 0 2rem 2rem 2rem !important;
}
.pd-left {
	padding: 0;
	padding-left: 8rem;
}
.heading-3 {
	padding: 2rem;
	font-size: 2.3rem;
	font-weight: 600;
	line-height: 3rem;
	letter-spacing: 0.0015em;
	text-transform: capitalize;
}
.heading-4 {
	font-family: 'Jost', sans-serif;
	font-size: 2.3rem;
	font-weight: 600;
	line-height: 2.8rem;
}
