*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	overflow: hidden;
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	line-height: 1.6;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}
html {
	box-sizing: border-box;
	font-size: 62.5%; //1rem = 10px, 62.5% of 16px = 10px
	//user-select: $primary;

	@media only screen and (max-width: $bp-largest) {
		font-size: 56.25%;
	}

	@media only screen and (max-width: $bp-medium) {
		font-size: 50%;
	}

	@media only screen and (max-width: $bp-small) {
		font-size: 40%;
	}
}
.show-me {
	top: 0vh;
	left: 0;
}
.go-up {
	top: -130vh;
	left: 0%;
}
.go-down {
	top: 100vh;
	left: 0%;
	z-index: 0;
}

.green {
	background-color: #007382;
}
.heading-1 {
	font-size: 3.2rem;
	font-weight: 700;
	line-height: 4.5rem;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.ml {
	margin-left: 0;
	width: 24rem;
	text-align: center;
}
.heading-2 {
	font-size: 4rem;
	font-weight: 600;
	line-height: 4.9rem;
	letter-spacing: 0.0025em;
	padding-left: 8rem;
	padding-top: 8rem;
	@media only screen and (max-width: 481px) {
		padding-left: 3rem;
	}
}
.padding-0 {
	padding: 0;
}
.no-pd-top {
	padding: 0 2rem 2rem 2rem !important;
}
.pd-left {
	padding: 0;
	padding-left: 8rem;
}
.pd-bot {
	padding: 0;
	padding-bottom: 2rem;
}
.heading-3 {
	padding: 2rem;
	font-size: 2.3rem;
	font-weight: 600;
	line-height: 3rem;
	letter-spacing: 0.0015em;
	text-transform: capitalize;
}
.heading-4 {
	font-family: 'Jost', sans-serif;
	font-size: 2.3rem;
	font-weight: 600;
	line-height: 2.8rem;
}
.heading-5 {
	font-family: 'Jost';
	font-weight: 500;
	font-size: 23px;
	line-height: 34px;
	letter-spacing: 0.0015em;
}
.heading-6 {
	color: #007382;
	font-family: sans-serif;
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 3rem;
	letter-spacing: 0.005em;
	text-transform: capitalize;
}
.align-start {
	align-self: flex-start;
}
.motivation-icon {
	width: 20% !important;
}
