section {
	grid-column: 1/-1;
	overflow: hidden;
}
.section--1 {
	background-image: url(../img/banner.svg);
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: 50%;

	display: flex;
	align-items: center;
	@media only screen and (max-width: $bp-large) {
		align-items: stretch;
		margin-top: 25rem;

		background-size: 75%;
	}
	@media only screen and (max-width: $bp-medium) {
		background-size: 90%;
	}
	@media only screen and (max-width: $bp-small) {
		background-size: 100%;
	}
	@media only screen and (max-height: 680px) {
		margin-top: 20rem;
		background-size: 85%;
	}
	&__container {
		padding-left: 6rem;
		width: 70rem;
		display: flex;
		flex-flow: column wrap;
		gap: 3rem;
	}
	& span {
		font-weight: 600;
	}
}
.section--2 {
	background-image: url(../img/iPhone_14.svg);
	background-repeat: no-repeat;
	background-position: 90% 53%;
	background-size: 22rem;
	@media only screen and (min-width: 1500px) {
		background-size: 15%;
	}
	&__container {
		width: 70vw;
		display: flex;
		gap: 13rem;
		flex-direction: column;
		align-items: center;
	}
	&__list {
		list-style: none;
	}
	&__item {
		padding: 0.8rem;
		font-family: 'Jost', sans-serif;
		display: flex;
		gap: 5px;
	}
}

.section--4 {
	display: flex;
	justify-content: center;
	align-items: center;
	&__container {
		display: flex;
		gap: 4rem;
	}
	&__box {
		&--1 {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 43.8rem;
			height: 40rem;
			background-color: #2d3232be;
			& span {
				font-family: Jost;
				font-size: 8rem;
			}
			&__button {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		&--2 {
			width: 70rem;
			display: flex;
			justify-content: center;
			flex-direction: column;
			gap: 4rem;
		}
	}
	&__text {
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 2.8rem;
		letter-spacing: 0em;
	}
	&__wrap {
		display: flex;
		gap: 4rem;
	}
	&__list {
		list-style: none;
	}
	&__item {
		display: flex;
		align-items: center;
		padding: 5px;
		font-family: 'Jost', sans-serif;
		font-weight: 400;
	}
}
.section--5 {
	padding-bottom: 10rem;
	&__box {
		padding-top: 10rem;
		height: max-content;
		display: flex;
		gap: 3rem;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	&__wrap {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-family: 'Jost', sans-serif;
		width: 37rem;
		box-shadow: 0px 4px 35px rgba(4, 59, 80, 0.1);
		border-radius: 5px;
	}
	&__text {
		text-transform: capitalize;
		padding: 0 2rem;
		padding-bottom: 2rem;
		border-bottom: 2px solid #2d323220;
		font-family: 'Nunito', sans-serif;
		font-size: 1.7rem;
		font-weight: 400;
		line-height: 2.8rem;
		letter-spacing: 0.005em;
	}
	&__img {
		width: 33rem;
		height: 25rem;
	}
}

.section--6 {
	&__container {
		padding: 10rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__box {
		width: 50%;

		display: flex;
		flex-direction: column;
	}
	&__wrap {
		display: flex;
		gap: 4rem;
		padding: 2rem 0;
	}
	&__text {
		font-family: 'Nunito', sans-serif;
		line-height: 2.8rem;
	}
	&__img {
		align-self: center;
		width: 20rem;
	}
}
.section--7 {
	&__container {
		padding: 8rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 4rem;
		height: 100%;
	}
	&__box {
		box-shadow: 0px 4px 35px rgba(4, 59, 80, 0.1);
		width: 37rem;
		display: flex;
		flex-direction: column;
	}
	&__preview {
		background-color: rgba(45, 50, 50, 0.7450980392);
		height: 25rem;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: Jost;
		font-size: 5rem;
	}
}
.section--8 {
}
.no-border {
	border: none;
}
.align-start {
	align-self: flex-start;
}
.small {
	font-size: 1.6rem;
	line-height: 1.5rem;
}
.big {
	font-size: 1.8rem;
	line-height: 2.8rem;
}
a {
	text-decoration: none;
}
.button {
	&:link,
	&:visited {
		padding: 2rem;
		color: #000;
	}
	& span {
		transition: all 0.2s;
	}
	&:hover span {
		margin-left: 4px;
		color: #4b96dc;
	}
	&:hover {
		color: #4b96dc;
		text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.155);
	}
}
