.section--1 {
	grid-column: 1/-1;
	overflow: hidden;
	background-image: url(../img/banner.svg);
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: 50%;

	display: flex;
	align-items: center;
	@media only screen and (max-width: $bp-large) {
		align-items: stretch;
		margin-top: 25rem;

		background-size: 75%;
	}
	@media only screen and (max-width: $bp-medium) {
		background-size: 90%;
	}
	@media only screen and (max-width: $bp-small) {
		background-size: 100%;
	}
	@media only screen and (max-height: 700px) {
		margin-top: 20rem;
		background-size: 85%;
	}
	&__container {
		padding-left: 6rem;
		width: 70rem;
		display: flex;
		flex-flow: column wrap;
		gap: 3rem;
	}
	& span {
		font-weight: 600;
	}
}
.section--2 {
	grid-column: 1/-1;
}
.section--3 {
	grid-column: 1/-1;
}
.section--4 {
	grid-column: 1/-1;
}
.section--5 {
	grid-column: 1/-1;
}
.section--6 {
	grid-column: 1/-1;
}
.section--7 {
	grid-column: 1/-1;
}
.section--8 {
	grid-column: 1/-1;
}
.align-start {
	align-self: flex-start;
}
